<h1>Gossips#edit</h1>
<% @city.users.each do |user| %>
  <div class="jumbotron jumbotron-fluid">
  
          <div class="container justify-text-center">
            <h1 class="display-4 text-white">On gossip à <%= @city.name%></h1>
            <p class="lead text-white text-uppercase badge badge-primary text-wrap" style="width: 20rem;">Les potins.</p>
          </div>
  </div>    
  <%user.gossips.each do |gossip|%>
    <div class="card w-75">
      <h5 class=""><%= gossip.title%></h5>
      <h6 class="card-subtitle text-muted"><%= gossip.content%></h6>
    </div>
  <%end%>
<%end%>  







