<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Bienvenue, Wilkommen, Welcome</h1>
    <h2>Bienvenue <%= @first_name%>! Ici c'est notre super site de potins, il est chouette, non ?</h2>
    <h5>Clique sur Home pour voir tous les Gossips</h5>
    <h5>Pour découvrir notre team de bébé dev', clique sur Team</h5>
    <h5>Captain Obvious: "Pour nous contacter, clique sur Contacts"
  </div>
</div>