<div class="jumbotron">
  <h1 class="display-4">Mais qui est tu?</h1>
  <form>
    <div class="form-row">
        <div class="col">
            <input type="text" class="form-control" placeholder="Prénom">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Nom">
        </div>
    </div>
    <div class="col-auto my-1">
      <button type="submit" class="btn btn-primary">Submit</button>
     
    </div>
  </form>
</div>
