<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">La Team</h1>
    <h2 class="lead">Voici notre équipe:</h2>
    <h3>Grégoire</h3>
    <h3>Chrisevy</h3>
  </div>
</div>

